/* @import url('https://fonts.googleapis.com/css2?family=Lato&dispaly=swap'); */

body{
  box-sizing:border-box;
  margin:0;
  padding: 0;
  background-color: white;
  font-family: "loto",sans-serif;  
}


