input{
  width: 50px;
  border-collapse: collapse;
  border: 0px;
  margin:0px;
  padding: 0px;

}
tr{
  margin:0px;
  padding: 0px;
}
td{
  border: 1px solid gainsboro;
  margin:0px;
  padding: 0px;
}
