.container {
  max-width: 1000px;
  flex-wrap: wrap;
  margin: -15px auto;
  padding: 0 5px;
  margin-top: 16px;
}

.card {
  display: flex;
  flex: 1 1 100%;
  margin: 15px;
  z-index: 501;
  position: relative;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 40px 40px 40px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition-property: color, background-color, box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  transition-property: color, background-color, box-shadow, transform,
    -webkit-transform;
  transition-duration: 0.15s;
}

@media (min-width: 880px) {
  .card {
    padding-left: 120px;
  }
}

@media (min-width: 670px) {
  .card {
    -webkit-flex-basis: 1%;
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    padding-left: 100px;
  }
}

input{
  width: 50%;
}
input.radio{
  width: 5%;margin-left: 25px;

}
    hr {
    border: none;
    border-top: 1.5px solid #999;
    color: #999;
    overflow: visible;
    text-align: center;
    height: 2px;
    }

    hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -11px;
    }

.batch_form{
  display: none;
}
.box{
  border: 2px solid rgb(190,190 ,190);border-radius: 7px;
  padding:  5px;
}

