
body{
  height: 200vh;
  background-image:linear-gradient(#334756,hsl(205, 18%, 13%),#334756);
  
}
.container {
  max-width: 1000px;
  flex-wrap: wrap;
  margin: -15px auto;
  padding: 0 5px;
  margin-top: 16px;
}

.card {
  display: block;
  flex: 1 1 100%;
  margin: 50px 20px;

  z-index: 501;
  position: relative;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 15px 15px 15px 15px;
  background-color: #d4ad57;
  border-radius: 2px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition-property: color, background-color, box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  transition-property: color, background-color, box-shadow, transform,
    -webkit-transform;
  transition-duration: .3s;
  font-family: "loto",sans-serif;
  
}

@media (min-width: 880px) {
  .card {
    padding-left: 120px;
  }
}

@media (min-width: 670px) {
  .card {
    -webkit-flex-basis: 1%;
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    padding-left: 100px;
  }
}

input{
  width: 50%;
  background-color:#e2d8c4;
}
input.radio{
  width: 5%;margin-left: 25px;

}
    .fancyHr {
    border: none;
    border-top: 1.5px solid #999;
    color: #999;
    overflow: visible;
    text-align: center;
    height: 2px;
    }

    .fancyHr:after {
    background: #d4ad57;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -11px;
    }

.batch_form{
  display:list-item;
}
.box{
  /* border: 2px solid rgb(190,190 ,190);border-radius: 7px;
  padding:  5px; */
  border:0px solid lightslategrey;
  
}

button{
  /* margin: 2px;
  border: 1px solid black;
  padding:2pxs;
  height: 50px;
  border-radius: 5px;
  width: 90px;
  background-color: rgba(0,0,0,.5);
  font-size:;
  color: white; */
  border: 0;
  padding:5px;
  border-radius: 5px;
  width: 70px;
  background-color: rgba(2,f,f,1);
  height: 50px;
  overflow:hidden;
  padding: 3px;
  margin: 10px;
  background-color: #e2d8c4;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
span{
  font-size: small;
}
.absalute{
  position:fixed;
  left: 0%;
  top: 90%;
  width: 95%;
  height: 50px;
  padding: 10px;
  border-radius: 3px;
  background-color:rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 1px;
}
.footerBtn{
  height: 30px;
  padding: 0px;
  margin: 15px;
  margin-top: 0px;
  border-radius: 10px;
}